.App{
  background-color: darkseagreen;
}
.navbar{
  background-color: darkgray;
}
.nav{
display: grid;
  grid-template-columns: repeat(5, 3fr);
  grid-gap: 3%;
  padding:5% 3% 5% 3%;
}
.cor{
display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3%;
  border-radius:15%;
  padding: 5% 5% 5% 5%;
}
.menu{
  height:5%;
  width:50%
}
.list{
  padding: 0.5%;
  display: flex;
}
.list li{
  padding-left:10% ;
  list-style: none;
}
.logo_img{
  height:2%;
  width:2%;
}
.logo_img img{
  border-radius: 50%;
}
.ul li input{
  width:150%
}
.but{
  height:15%;
  background-color:bisque;
  margin-top: 3.2%;
}
.list-ele{
  margin-top: 3%;
   padding-left:10% ;
  list-style: none;
}
.list-eles{
  margin-top: 3%;
   padding-left:10% ;
  list-style: none;
}
.cardnav{
  display: flex;
}
.car{
  background-color:aliceblue;
  border-radius: 20%;
}
.head{
  text-align: center;
}

.head1{
  text-align: center;
  color: chocolate;
  background-color:darkgreen;
}
.cardimg{
  height:'70%';
  border-radius: 20%;
}
.head2{
  text-align: center;
}
.foot{
  background-color: darkgrey;
  display:flex;
  margin-top: 20%;
}
.foot ul li{
  list-style: none;
  text-align: center;
}
.foot1{
  margin: 3% 5% 3% 5%;
}
.coming{
display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  border-radius:15%;
  padding: 15% 5% 5% 5%;
}
.coming1{
  margin: 2% 5% 2% 5%;
  border-radius: 50%;
}
.coming1 h3{
  text-align: center;
}
.coming2{
display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5%;
  padding: 15% 0% 0% 30%;
}
.di{
background-color: black;
}
.coming2 button
{
  height:10%;
  width:30%;
  margin:40% 0% 0% 20%;
  background-color: cadetblue;
  border-radius: 50%;
}
.about{
  text-align: center;
}
.maina1{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding:5% 5% 5% 5%;
  height: 10%;
}
.card1{
  display: flex;
  background-color:darkseagreen;
}

.des{
  text-align: center;
  margin: 5% 2% 5% 2%;
}
.button1{
  text-align: center;
  background-color:bisque;
  border-radius: 50%;
  width:100%
}.cor1{
  background-color: black;
}
.class3{
  background-color: black;
}
.cur{
  padding: 20% 20% 0% 20%;
}